<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	
		<div id="mainGameWrapper">
		
			<div id="numberWrapper">
				<div class="numberBox">8</div>
				<div class="numberBox">7</div>
				<div class="numberBox">6</div>
				<div class="numberBox">5</div>
				<div class="numberBox">4</div>
				<div class="numberBox">3</div>
				<div class="numberBox">2</div>
				<div class="numberBox">1</div>
			</div>
			
			<div id="gameWrapper">
			
				<!-- Rad 1 -->
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				
				<!-- Rad 2 -->
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				
				<!-- Rad 3 -->
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				
				<!-- Rad 4 -->
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				
				<!-- Rad 5 -->
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				
				<!-- Rad 6 -->
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				
				<!-- Rad 7 -->
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				
				<!-- Rad 8 -->
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				<div class="gameBox2"></div>
				<div class="gameBox1"></div>
				
				
				
				
			</div>
			
			<div id="letterWrapper">
			
				<!-- Rad 9 -->
				<div class="letterBox">a</div>
				<div class="letterBox">b</div>
				<div class="letterBox">c</div>
				<div class="letterBox">d</div>
				<div class="letterBox">e</div>
				<div class="letterBox">f</div>
				<div class="letterBox">g</div>
				<div class="letterBox">h</div>
				
			</div>
		
		</div>
	

        {% block javascripts %}{% endblock %}
    </body>
</html>