html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; background: url("../img/mainbg.gif") }
.clear { clear: both; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }


/* ==== Spelplanen ==== */
#mainGameWrapper { width: 616px; height: 616px; border: 1px solid black; margin: 20px auto 0px auto; background-color: #fff;  -moz-box-shadow: 0 0 5px 2px #000; -webkit-box-shadow: 0 0 5px 2px#000; box-shadow: 0 0 5px 2px #000;}
#gameWrapper { width: 600px; height: 600px; float: right; background: url("../img/boardbg.png"); }
#numberWrapper { width: 15px; height: 600px; border-right: 1px solid black; float: left; }
#letterWrapper { width: 600px; height: 15px; border-top: 1px solid black; float: right; }
.gameBox1 { width: 75px; height: 75px; float: left; }
.gameBox2 { width: 75px; height: 75px; float: left; }
.numberBox { width: 15px; height: 45px; margin-top: 30px; text-align: center; float: left; }
.letterBox { width: 75px; height: 10px; text-align: center; float: left; }


/* ==== Spelpjäser ==== */
.playerToken1 {
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/playerToken1.png");
}

.pt1k {
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/pT1K.png")
}

.playerToken2 {
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/playerToken2.png");
}

.pt2k {
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/pT1K.png")
}

/* ==== Header ==== */
.headerwrapper{  margin-bottom:10px; height:auto; width:auto; }
#header {height:20px; width:550px; margin: 0 auto; }


/* ==== Startknappen ==== */
#startBtn { 
	margin-top: 10px; 
	width: 615px; 
	line-height: 26px; 
	font-size: 20px; 
	min-height: 26px; 
	color: #fff; 
	text-align: center;
	-moz-box-shadow: 0 0 2px 1px #000; 
	-webkit-box-shadow: 0 0 2px 1px#000; 
	box-shadow: 0 0 2px 1px #000;
	background: -moz-linear-gradient(
		top,
		#949494 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#949494),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
}


/* ==== FOOTER ==== */
#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

