html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; background: url("../img/mainbg.gif") }
.clear { clear: both; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }

/* ==== Sidebar ==== 
#sidebar {background: #000; color: #fff; float:right; height:225px; width: 239px; padding: 5px; margin: 10px; display: inline-block; }
#sidebar h2{font-size: 14px; padding: 5px 0px 5px 0px;}
*/
/* ==== Spelplanen ==== */
#mainGameWrapper { width: 616px; height: 616px; border: 1px solid black; margin: 20px auto 0px auto; background-color: #fff;  -moz-box-shadow: 0 0 5px 2px #000; -webkit-box-shadow: 0 0 5px 2px#000; box-shadow: 0 0 5px 2px #000;}
#gameWrapper { width: 600px; height: 600px; float: right; background: url("../img/boardbg.png"); }
#numberWrapper { width: 15px; height: 600px; border-right: 1px solid black; float: left; }
#letterWrapper { width: 600px; height: 15px; border-top: 1px solid black; float: right; }
.gameBox1 { width: 75px; height: 75px; float: left; }
.gameBox2 { width: 75px; height: 75px; float: left; }
.numberBox { width: 15px; height: 45px; margin-top: 30px; text-align: center; float: left; }
.letterBox { width: 75px; height: 10px; text-align: center; float: left; }

/* ==== ScoreBoard ==== */
.scoreBoard {
	float:left;
	text-align:center;
	padding-left:10px;
}

.p1s {
	height: 225px;
	width: 300px;
	border: 1px solid #000;
	padding:3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	margin-bottom:40px;
	-webkit-box-shadow: inset 2px 2px 4px 2px ;
	-moz-box-shadow: inset 2px 2px 4px 2px ;
	box-shadow: inset 2px 2px 4px 2px ; 
}

.p2s {
	height: 225px;
	width: 300px;
	border: 1px solid #000;
	padding:3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 2px 2px 4px 2px ;
	-moz-box-shadow: inset 2px 2px 4px 2px ;
	box-shadow: inset 2px 2px 4px 2px ; 
}

/* ==== LoginBoard ==== */
#loginBoard {
	float: right;
	width: 275px;
	border: 1px solid #000;
	padding:10px;
	padding-bottom: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	margin-bottom:10px;
	-webkit-box-shadow: inset 2px 2px 4px 2px ;
	-moz-box-shadow: inset 2px 2px 4px 2px ;
	box-shadow: inset 2px 2px 4px 2px ; 
}

/* ==== Spelpjäser ==== */
.playerToken1 {
	float:left;
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/playerToken1.png");
}

.pt1k {
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/pt1k.png")
}

.playerToken2 {
	float:left;
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/playerToken2.png");
}

.pt2k {
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 90px;
	background: url("../img/pt2k.png")
}

/* ==== Startknappen ==== */
#startBtn,#startBtn1,#loginBtn  {  
	width: 275px;
	line-height: 26px; 
	font-size: 20px; 
	min-height: 26px; 
	color: #fff; 
	text-align: center;
	-moz-box-shadow: 0 0 2px 1px #000; 
	-webkit-box-shadow: 0 0 2px 1px#000; 
	box-shadow: 0 0 2px 1px #000;
	background: -moz-linear-gradient(
		top,
		#949494 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#949494),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
}

#loginWrapper {
	float: right;
	height: 350px;
	width: 285px;
	margin: 27px 10px 0px 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	
}


#playerName1, #playerName2, #sessionID {
	margin: 0px auto 0px auto;
}
/* ==== FOOTER ==== */
#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

/* ==== NOTIFICATION ==== */

.notification
{
	#background-color: #FF0099;
#	border: 1px solid black;
	bottom: 15%;
	left: 70%;
	height: 150px;
	margin: 200px 10px 50px 100px;
	position: absolute;
	width: 250px;
}

.talkBox
{
	background: url('../img/bubbla.png');
	float: left;
	height: 125px;
	width: 150px;
}

.talkBox p
{
	padding: 15px;

}

.paperclip
{
	background: url('../img/paperclip.png');
	float: left;
	height: 150px;
	width: 80px;

}
