{# src/Draughts/DraughtsBundle/Resources/views/Page/index.html.twig #}
{% extends 'DraughtsBundle::layout.html.twig' %}

{% block body %}
	
    		<div id="numberWrapper">
    			<div class="numberBox">8</div>
				<div class="numberBox">7</div>
				<div class="numberBox">6</div>
				<div class="numberBox">5</div>
				<div class="numberBox">4</div>
				<div class="numberBox">3</div>
				<div class="numberBox">2</div>
				<div class="numberBox">1</div>
			</div>
			
			<div id="gameWrapper">
			
				<!-- Rad 8 -->
				<div id="64" class="gameBox1"></div>
				<div id="63" class="gameBox2"></div>
				<div id="62" class="gameBox1"></div>
				<div id="61" class="gameBox2"></div>
				<div id="60" class="gameBox1"></div>
				<div id="59" class="gameBox2"></div>
				<div id="58" class="gameBox1"></div>
				<div id="57" class="gameBox2"></div>
				
				<!-- Rad 7 -->
				<div id="56" class="gameBox2"></div>
				<div id="55" class="gameBox1"></div>
				<div id="54" class="gameBox2"></div>
				<div id="53" class="gameBox1"></div>
				<div id="52" class="gameBox2"></div>
				<div id="51" class="gameBox1"></div>
				<div id="50" class="gameBox2"></div>
				<div id="49" class="gameBox1"></div>
				
				<!-- Rad 6 -->
				<div id="48" class="gameBox1"></div>
				<div id="47" class="gameBox2"></div>
				<div id="46" class="gameBox1"></div>
				<div id="45" class="gameBox2"></div>
				<div id="44" class="gameBox1"></div>
				<div id="43" class="gameBox2"></div>
				<div id="42" class="gameBox1"></div>
				<div id="41" class="gameBox2"></div>
				
				<!-- Rad 5 -->
				<div id="40" class="gameBox2"></div>
				<div id="39" class="gameBox1"></div>
				<div id="38" class="gameBox2"></div>
				<div id="37" class="gameBox1"></div>
				<div id="36" class="gameBox2"></div>
				<div id="35" class="gameBox1"></div>
				<div id="34" class="gameBox2"></div>
				<div id="33" class="gameBox1"></div>
				
				<!-- Rad 4 -->
				<div id="32" class="gameBox1"></div>
				<div id="31" class="gameBox2"></div>
				<div id="30" class="gameBox1"></div>
				<div id="29" class="gameBox2"></div>
				<div id="28" class="gameBox1"></div>
				<div id="27" class="gameBox2"></div>
				<div id="26" class="gameBox1"></div>
				<div id="25" class="gameBox2"></div>
				
				<!-- Rad 3 -->
				<div id="24" class="gameBox2"></div>
				<div id="23" class="gameBox1"></div>
				<div id="22" class="gameBox2"></div>
				<div id="21" class="gameBox1"></div>
				<div id="20" class="gameBox2"></div>
				<div id="19" class="gameBox1"></div>
				<div id="18" class="gameBox2"></div>
				<div id="17" class="gameBox1"></div>
				
				<!-- Rad 2 -->
				<div id="16" class="gameBox1"></div>
				<div id="15" class="gameBox2"></div>
				<div id="14" class="gameBox1"></div>
				<div id="13" class="gameBox2"></div>
				<div id="12" class="gameBox1"></div>
				<div id="11" class="gameBox2"></div>
				<div id="10" class="gameBox1"></div>
				<div id="9" class="gameBox2"></div>
				
				<!-- Rad 1 -->
				<div id="8" class="gameBox2"></div>
				<div id="7" class="gameBox1"></div>
				<div id="6" class="gameBox2"></div>
				<div id="5" class="gameBox1"></div>
				<div id="4" class="gameBox2"></div>
				<div id="3" class="gameBox1"></div>
				<div id="2" class="gameBox2"></div>
				<div id="1" class="gameBox1"></div>
				
				
				
				
			</div>
			
			<div id="letterWrapper">
			
				<!-- Rad 9 -->
				<div class="letterBox">a</div>
				<div class="letterBox">b</div>
				<div class="letterBox">c</div>
				<div class="letterBox">d</div>
				<div class="letterBox">e</div>
				<div class="letterBox">f</div>
				<div class="letterBox">g</div>
				<div class="letterBox">h</div>
				
			</div>
  {% endblock %}  
 
{% block sidebar %}  <!-- sidebar -->
  <form action="{{ path('DraughtsBundle_form') }}" method="post" >
		<h2>Welcome to the Game</h2>	
			<input type="text" id="playerName1" name="form[player1]" required="required" placeholder="Player1 - White"/><br /><br />
			<input type="text" id="playerName2" name="form[player2]" required="required" placeholder="Player2 - Black"/><br /><br />
			<input type="number" id="sessionID"  name="form[id]" placeholder="Ange ditt spel ID"/>
			<input id="startBtn" type="submit" value="Logga in">
			
  </form>
{% endblock %}

{% block form %}
  			
{% endblock %}
		  
{% block score %}
	<div class="scoreBoard">
		<span style="font-size:2em;">Player1 - White</span>
		<div class="p1s">
			<div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div>
			<div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div>
			<div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div><div class="playerToken2"></div>
		</div>
	
		<span style="font-size:2em;">Player2 - Black</span>
		<div class="p2s">
			<div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div> 
			<div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div> 
			<div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div><div class="playerToken1"></div> 
		</div>
	</div>
{% endblock %}
  
  {% block javascripts %} 
        <script type="text/javascript" src="jquery-1.7.min.js"></script>
        <script type="text/javascript" src="game.js"></script>
  {% endblock %}
